@model bigschool.ViewModels.CourseViewModel
@{
    ViewBag.Title = "Home Page";
}
<br />
<ul class="course">
    @foreach (var course in Model.UpcommingCourses)
    {
        <li>
            <div class="date">
                <div class="month">
                    @course.DateTime.ToString("MM")
                </div>

                <div>
                    <div class="day">
                        @course.DateTime.ToString("dd")
                    </div>
                </div>
            </div>

            <div class="details">
                <span class="lecturer">
                    @course.Lecturer.Name

                </span>
                @if (Model.ShowAction)
                {
                    var checkFL = false;
                    foreach (var item in Model.ListFollowing)
                    {
                        if (item.FolloweeId == course.LecturerId)
                        {
                            checkFL = true;
                            break;
                        }
                    }
                    if (checkFL)
                    {
                        <button class="btn btn-default btn-sm js-toggle-follow btn-default-color" data-user-id="@course.LecturerId">Following</button>
                    }
                    else
                    {
                        <button class="btn btn-default btn-sm js-toggle-follow" data-user-id="@course.LecturerId">Follow</button>
                    }

                }
                <br />
                <span class="category">
                    @course.Category.Name
                </span>
                @if (Model.ShowAction)
                {
                    var checkFL = false;
                    foreach (var item in Model.ListAttendance)
                    {
                        if (item.AttendeeID == course.LecturerId)
                        {
                            checkFL = true;
                            break;
                        }
                    }
                    if (checkFL)
                    {
                        <button data-course-id="@course.Id" class="btn btn-default btn-sm js-toggle-attendance btn-default-color">Going</button>
                    }
                    else
                    {
                            <button data-course-id="@course.Id" class="btn btn-default btn-sm js-toggle-attendance">Going?</button>
                    }

            }
            </div>
        </li>
    }
</ul>
@section scripts
{
	<script>
		$(document).ready(function () {
			$(".js-toggle-attendance").click(function (e) {
				var button = $(e.target);
				$.post("/api/attendances", { courseID: button.attr("data-course-id") })
                    .done(function () {
                        if (button.text() == "Going?") {
                            button.text("Going");
                            button.css("background-color", "#77f539");
                        }
                        else {
                            button.text("Going?");
                            button.css("background-color", "#ffffff");
                        }
						//button
						//	.removeClass("btn-default")
						//	.addClass("btn-info")
						//	.text("Going");
					})
					.fail(function() {
						alert("something failed!");
					});
			});

			$(".js-toggle-follow").click(function (e) {
				var button = $(e.target);
				$.post("/api/followings", { followeeId: button.attr("data-user-id") })
                    .done(function () {
                        if (button.text() == "Follow") {
                            button.text("Following");
                            button.css("background-color", "#77f539");
                        }
                        else {
                            button.text("Follow");
                            button.css("background-color", "#ffffff");
                        }
						
					})
					.fail(function () {
						alert("something failed!");
					});
            });

            
		});
	</script>	
}

<div class="row">
    <ul>
        @foreach(var course in Model.UpcommingCourses) //UpcommingCourses
		{
            <li>
                @course.DateTime - @course.Lecturer.Name
            </li>
        }
    </ul>
</div>


			
